/*
 * THE FOLLOWING IS NOT, AND SHOULD NOT BE TAKEN AS LEGAL ADVICE. WE ARE NOT A LAW FIRM, HOWEVER, IF YOU WOULD EVER REQUIRE
 * ASSISTANCE FROM AN ACTUAL LAW FIRM, WOULD YOU LOOK NO FURTHER THAN THE EagleTeam. BECAUSE YOU DON'T JUST NEED A 
 * LEGAL TEAM, YOU NEED THE EagleTeam.
 *
 * This code is liscenced under the legally distinct Cool Code 0 v1.0 liscence (CC0 v1.0). This means that the following
 * code is hereby declared to be viewed as the litteral coolest thing you have ever seen. The writers, owners, and
 * distributers of this code under the CC0 v1.0 liscense are automatically deemed as the most awesome people ever. Agreement
 * to this statement is automaticly triggered upon viewing a product actively utilizing this code. 
 */


// imports
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');
// fonts
$fontMain: 'Rubik';
// animations
$animationTransition1: all 0.6s cubic-bezier(0.06, 0.98, 0.41, 0.93);
// filters
$filterMain: brightness(115%) saturate(110%) hue-rotate(-15deg);
//colors
$chaosGreen: #14c600;
$chaosGreenDark: #14c60030;
$colorBlue: #AEC6CF;
$colorBlueDark: #AEC6CF30;
$colorRed: #FF6961;
$colorRedDark: #FF696130;

@mixin header {
        text-align: center;
        text-shadow: 2px 2px 8px rgba(61, 61, 61, 0.5), -2px 2px 8px rgba(61, 61, 61, 0.5), 2px -2px 8px rgba(61, 61, 61, 0.5), -2px -2px 8px rgba(61, 61, 61, 0.5);
}

@mixin elementDefault {
        background-color: black;
        border: 2px solid rgba(250, 250, 250, 0.5);
        color: white;
        padding: 0.5em;
        transition: $animationTransition1; 
        &:hover {
                border-color: $chaosGreen;
                color:$chaosGreen;
        }
        .teleop &:hover {
                border-color: $colorBlue;
                color: $colorBlue;
        }
        .endgame &:hover {
                border-color: $colorRed;
                color: $colorRed; 
        }
}

* {
        touch-action: manipulation;
        
}

body {
        margin: 0px;
        color: rgb(235, 235, 235);
        background-color: rgb(28, 28, 28);
        font-family: $fontMain;
}

hr {
        filter: opacity(50%) brightness(40%);
        border: 2px solid $chaosGreen;
}

.headerMain {
        @include header;
        margin-top: 3em;
        padding: 0em;
        font-size: 1.7em;
}

.tableNormal { //original design from another project by 5stygian, the code has been modified for this project.
        margin: 0.6em auto;
        background-color: rgb(20,20,20);
        box-shadow: -8px 0px 8px rgba(20,20,20,0.2), 8px 0px 24px rgba(20,20,20,0.2), 0px 8px 8px rgba(20,20,20,0.2), 0px -8px 24px rgba(20,20,20,0.2);
        width: 50%;
        font-size: 1.5em;

        th, 
        td {
                background-color: rgb(24,24,24);
                box-shadow: -8px 0px 8px rgba(24,24,24,0.2), 8px 0px 24px rgba(24,24,24,0.2), 0px 8px 8px rgba(24,24,24,0.2), 0px -8px 24px rgba(24,24,24,0.2);
                margin: 2px;
                text-align: center;
                border: 1px solid rgba(250,250,250,0.5);
                transition: $animationTransition1;
                

                &:hover:not(.noShow) {
                        transition: $animationTransition1;
                        border: 1px solid rgb(80,80,80);
                        cursor: default;
                }

        }

        th {    
                padding: 8px 12px;
                font-weight: bold;
                min-width: 200px;
        }

        td {
                padding: 4px 6px;
                min-width: 50px;
                white-space: nowrap; // Prevent line breaks within the cell

        }

        td strong {
                font-size: 1em;
        }

        .noShow:hover {
                transition: $animationTransition1;
                filter: $filterMain;
        }
}

#container {
        margin: auto;
        width: 77.7777777777%; // lucky number 7!
        box-shadow: -8px 0px 8px rgba(24,24,24,0.2), 8px 0px 24px rgba(24,24,24,0.2);

        .containerInner {
                padding: 8px 16px;
                background-color: rgb(24,24,24);

                h2 {
                        @include header;
                        font-size: 2em;
                        border-bottom: 2px solid $chaosGreen;
                        border-top: 2px solid $chaosGreen;
                        background-color: $chaosGreenDark;
                        width: 90%;
                        margin: 0.7em auto;
                        padding: 0.5em;
                }
        }
}

.noShow {
        filter: opacity(0%);
        transition: $animationTransition1;
}


.noMake {
        display: none;
        transition: $animationTransition1;
}


input[type=radio], input[type=checkbox]{
        appearance: none;
        border-radius: 50%;
        background: rgb(0,0,0);
        border: 0.3em solid rgb(28,28,28);
        outline: 0.2em solid $chaosGreenDark;
        width: 1.5em;
        height: 1.5em;
        transition: $animationTransition1;
        cursor: pointer;

        .teleop & {
                outline: 0.2em solid $colorBlueDark;
        }
        .endgame & {
                outline: 0.2em solid $colorRedDark;
        }

        .auto &:hover, 
        .auto &:checked {
                outline: 0.2em solid $chaosGreen;
        }
        .auto &:checked {
                background: $chaosGreen !important;  
                border: 0.3em solid rgb(28,28,28) !important;  
        }

        .teleop &:hover, 
        .teleop &:checked {
                outline: 0.2em solid $colorBlue;
        }
        .teleop &:checked {
                background-color: $colorBlue !important;  
                border: 0.3em solid rgb(28,28,28) !important;    
        }

        .endgame &:hover, 
        .endgame &:checked {
                outline: 0.2em solid $colorRed;
        }
        .endgame &:checked {
                background-color: $colorRed !important;  
                border: 0.3em solid rgb(28,28,28) !important;    
        }

}

input[type=checkbox] {
        border-radius: 10% !important;
}

input[type=number], input[type=text] {
        @include elementDefault;

        display: inline-block;
        width: 3em;
        margin: 0.2em 0.3em;
        border-radius: 0.5em;
        cursor: text;
        font-size: 1.5em;
        overflow-y: hidden;
        overflow-x: scroll;
        &:focus {
                outline: none;
        }
}

input::-webkit-inner-spin-button {
        cursor: pointer;
}

textarea {
        @include elementDefault;
        display: inline-block;
        width: 80%;
        height: 10em;
        margin: 0.5em 0;
        border-radius: 1em;
        resize: none;
        font-size: 1.5em;
        &::-webkit-scrollbar {
                background-color: rgba(0,0,0,0);
        }
        &::-webkit-scrollbar-thumb {
                background-color: $chaosGreenDark;
                cursor: grab;
                border-radius: 1em;
                &:active {
                        cursor: grabbing;
                }
        }
        &:focus, &:hover {
                outline: none;
                color: white !important;
        }
        &::spelling-error {
                text-decoration: wavy $chaosGreen underline;
        }
}

span[id^=cv], span[id^=Tcv] { //ripoff RegEx
        font-size: 2em;
}

.Jbutton {
        @include elementDefault;
        font-size: 1.4em;
        cursor: pointer;
        margin: 0.3em 0.7em;
        min-width: 2.3em;
        min-height: 2.3em;
        border-radius: 0.5em;
        display: inline-block !important; // Ensure buttons are inline-block
}



img {
        width: 50%;
        display: block;
        margin: 0 auto;
        transition: $animationTransition1;
        border: 0.2em solid $chaosGreen;
        filter: $filterMain;
        &:hover {
                transform: scale(1.1);
        }
}

select {
        @include elementDefault;
        font-size: 1.5em;
        cursor: pointer;
        margin: 0.5em 0;
        border-radius: 0.5em;
        display: inline-block;
        &:focus {
                outline: none;
        }
}

#submit {
        font-size: 2em;
}

.desktop {
        display: block;
        pointer-events: all;
}

.mobile {
        display: none !important;
        pointer-events: none;
}


.centerWrap {
        text-align: center;
}

.leftAlign *:not(input, th) {
        text-align: left;
} 

label { //more RegEx
        text-wrap: wrap;
}

.borderLeft {
        border-left: 0.5em solid #14c600;
        margin-left: 2em;
}
      
.borderRight {
        border-right: 0.5em solid #14c600;
        margin-right: 0.25em;
}
      
.borderBottom {
        border-bottom: 0.5em solid #14c600;
        margin-bottom: 0.25em;
}
      
.borderTop {
        border-top: 0.5em solid #14c600;
        margin-top: 0.25em;
}

:is(.borderLeft,.borderRight,.borderBottom,.borderTop):hover {
        filter: $filterMain;
        transition: $animationTransition1;
}

.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;

    .modalContent {
        background-color: rgb(24, 24, 24);
        padding: 20px;
        border-radius: 8px;
        text-align: center;
        box-shadow: -8px 0px 8px rgba(24,24,24,0.2), 8px 0px 24px rgba(24,24,24,0.2), 0px 8px 8px rgba(24,24,24,0.2), 0px -8px 24px rgba(24,24,24,0.2);
        border: 2px solid #14c600;

        p {
            color: white;
            font-size: 1.5em;
            margin-bottom: 20px;
        }

        button {
            @extend .Jbutton;
            margin: 10px;
        }
    }
}

@media only screen and (max-width: 1100px) {
        #container {
                width: 100%;
        }
        
}

@media only screen and (min-width: 1101px) and (max-width: 1144px) { // i am not sorry
        .tableNormal {
                th {
                        font-size: 20px !important;
                }
        }
}

@media only screen and (max-width: 845px) {
        #container {
                width: 100vw;
        }
        .tableNormal {
                border: 0.2em solid $chaosGreen;
                width: 90vw;

                td, th {
                        min-width: 20px !important;
                        max-width: 50vw;
                        font-size: 0.75em !important;
                }
        }
        img {
                width: 85vw;
        }
        .mobile {
                display: block !important;
                pointer-events: all !important;
        }
        .desktop {
                display: none !important;
                pointer-events: none !important;
        }
}


#top-bar {
        position: fixed;
        top: 0;
        left: 0;
        border-bottom: 0.25em solid #14c600 !important;
        background-color: rgb(28,28,28);
        height:1.5em;
        width:100%;
        font-size:1.3em;
        z-index: 5; /*the starfish smiles upon us all*/
}
      
img {
        position: relative;
        z-index: 0;
}

$borderWidth: 0.2em;


.auto *:is(table,img) {
        border-color: #14c600 !important;
}
.auto .borderLeft {
        border-left: $borderWidth solid #14c600 !important;
}
      
.auto .borderRight {
        border-right: $borderWidth solid #14c600 !important;
}
      
.auto .borderBottom {
        border-bottom: $borderWidth solid #14c600 !important;
}
      
.auto .borderTop {
        border-top: $borderWidth solid #14c600 !important;
}
      
.auto h2 {
        border-bottom: 2px solid #14c600 !important;
        border-top: 2px solid #14c600 !important;
        background-color: rgba(20, 198, 0, 0.1882352941) !important;
}
      
.teleop *:is(table,img) {
        border-color: $colorBlue !important;
}
.teleop .borderLeft {
        border-left: $borderWidth solid $colorBlue !important;
}
      
.teleop .borderRight {
        border-right: $borderWidth solid $colorBlue !important;
}
      
.teleop .borderBottom {
        border-bottom: $borderWidth solid $colorBlue !important;
}
      
.teleop .borderTop {
        border-top: $borderWidth solid $colorBlue !important;
}
      
.teleop h2 {
        border-bottom: 2px solid $colorBlue !important;
        border-top: 2px solid $colorBlue !important;

        background-color: rgba(0, 20, 198, 0.1882352941) !important;
}
      
.endgame *:is(table,img) {
        border-color: $colorRed !important;
}
.endgame .borderLeft {
        border-left: $borderWidth solid $colorRed !important;
}
      
.endgame .borderRight {
        border-right: $borderWidth solid $colorRed !important;
}
      
.endgame .borderBottom {
        border-bottom: $borderWidth solid $colorRed !important;
}
      
.endgame .borderTop {
        border-top: $borderWidth solid $colorRed !important;
}
      
.endgame h2 {
        border-bottom: 2px solid $colorRed !important;
        border-top: 2px solid $colorRed !important;
        background-color: rgba(198, 0, 20, 0.1882352941) !important;
}

.slider {
  -webkit-appearance: none;
  appearance: none;
  width: 100%;
  height: 15px;
  border-radius: 5px;  
  background: #14c60070 !important;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 25px;
  height: 25px;
  border-radius: 50%; 
  background: $chaosGreen;
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: $chaosGreen;
  cursor: pointer;
}